<div class="text-center">

<h2>Viewing all Cases</h2>
<img class="logo" src="../images/logojlf.jpg"/>
</div>

<div class="card-columns">
{{#each allTheCases}}
    <!-- <div class="row"> -->
      <div class="text-center">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">{{this.name}} {{this.lastName}}</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{this.name}}</li>
            <li class="list-group-item">Last Name: {{this.lastName}}</li>
            <li class="list-group-item">DOB: {{this.dateOfBirth}}</li>
            <li class="list-group-item">Case #: {{this.caseNumber}}</li>
            <li class="list-group-item">Case Type: {{this.caseType}}</li>
            <li class="list-group-item">Phone #: {{this.phoneNumber}}</li>
            <li class="list-group-item">Address: {{this.address}}</li>
            <li class="list-group-item">Payment Object Key: {{this.payment._id}} </li>
            <button class="list-group-item edit-button"><a href="/client/{{this._id}}/edit">Edit this Case/Client</a></button>
            <button class="list-group-item edit-button"><a href="/payments/{{this._id}}/view/contract">View this Contract</a></button>
            <button class="list-group-item edit-button"><a href="/payments/{{this._id}}/view/paymentDetails">View Payment Details</a></button>
            <button class="list-group-item edit-button"><a href="/payments/{{this._id}}/create">Create Payment Schedule</a></button>
            <button class="list-group-item edit-button"><a href="/payments/{{this._id}}/create/contract">Create Contract</a></button>
          </ul>
        </div>
      </div>
{{/each}}
</div>
